<?xml version="1.0" encoding="UTF-8" ?>
        <module>
            <name>clickandpledge</name>
            <displayName><![CDATA[Click &amp; Pledge API]]></displayName>
            <version><![CDATA[2.0]]></version>
            <description><![CDATA[Receive payment with Click &amp; Pledge]]></description>
            <author><![CDATA[Click &amp; Pledge]]></author>
            <tab><![CDATA[payments_gateways]]></tab>
            <is_configurable>1</is_configurable>
            <need_instance>0</need_instance>
	<limited_countries></limited_countries>
        </module>